APP_ENV=development
BACKEND_PORT=8000
FRONTEND_PORT=4200
DATABASE_URL=postgresql://themis:themis@postgres:5432/themis_db

# Configurações do CrewAI e LLM (Gemini)
CREWAI_MODEL=gemini-3.1-pro-preview
CREWAI_PROVIDER=google
GOOGLE_API_KEY=sua_chave_do_google_aqui

KNOWLEDGE_BASE_PATH=./knowledge
LOG_LEVEL=INFO
